:root {
  --borderclr: #ffffff11;

  --add: #cececed2;
  --dimclr: #acacac;
  --buttonhover: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: auto;
}

li,
a,
cta {
  text-decoration: none;
}

.head {
  font-family: "Inter", sans-serif;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
  height: 100px;
  text-align: center;
  border-bottom: 1px solid var(--borderclr);
  vertical-align: middle;
}

.head {
  display: flex;
}

.h-logo {
  margin-right: auto;
}

.hv {
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.hv:hover {
  opacity: 0.5;
}

.nav_links {
  list-style: none;
  vertical-align: middle;
  transition: 0.1s ease-in-out;
}

.nav_links li {
  display: inline-block;
  padding: 0px 15px;
}

.nav_links li a {
  font-size: 18px;
}

#p1:hover ~ #p2 {
  color: var(--hclr);
}
#p2:hover {
  color: var(--hclr);
}

.pro {
  transition: 0.1s ease-in-out;
}

.pro:hover {
  color: var(--dimclr);
}
