.sidebar {
  width: 20%; /* 350px */
  /* 150px */
  height: 100%;

  /* background-color: #f1f1f1; */
  border-right: 1px solid var(--borderclr);
  color: white;

  font-family: "Inter", sans-serif;
  justify-content: flex-end;
  align-items: center;
  /* padding: 50px 40px; */
  text-align: center;

  position: fixed;
  left: 0;
  /* top: 0; */
}

.main-content {
  margin-left: 22.5%; // 150px - 90px - 400px
}

.sidebar-header {
  padding-top: 20px;
  font-size: 18px;
}

.sid {
  font-size: 18px;
  transition: 0.2s;
}

.sid:hover {
  transition: 0.2s;
  color: var(--dimclr);
}

.fixed-input {
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 50px; /* adjust this value as needed */
  /* background-color: #fff; */
  /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); */
}

.main-content-content {
  /* styles for the content area within the main content */
  /* height: calc(100% - 50px); adjust this value as needed to make space for the fixed input and chatbox */
  /* overflow-y: scroll; */
  /* padding: 10px; */
}

.chatbox-container {
  background-color: var(--minclr);
  height: 72vh; /* 75vh */
  /* 400px - 75vh */
  width: 100%;
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid var(--borderclr);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.chatbox {
  padding: 20px;
  /* font-size: 14px; */
}

/* Styles for screens smaller than 768px OR 812 */
@media (max-width: 942px) {
  .sidebar {
    display: none; /* Hide the sidebar */
  }

  .main-content {
    margin: 0;
  }
}

/* Styles for screens larger than 768px */
@media (min-width: 942px) {
  .sidebar {
    display: block;
  }

  .main-content {
    width: calc(100% - 25%); /* 350px - 200px - 450px */
    float: left;
  }

  .fixed-input {
    width: calc(100% - 25%); /* 350px - 200px - 450px */
  }
}
